body {
    font-family: 'Piazzolla', serif;
    margin: 0;
    padding: 0;
}

a {
    transition: all 0.3s ease;
}

h1 {
    color:white
    
}
.header {
    padding: 80px;
    text-align: center;
    background: #889696;
    color:white;
}
.navbar {
    overflow: hidden;
    background-color: #a1acac;
}
.navbar a {
    float:left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a.right{
    float: right;
}
.navbar a:hover{
    background-color: rgb(230, 236, 241);
    color: black;
}
.fakeimg{
    background-color: #a1acac;
    width: 100%;
    height:200px;
    padding: 20px;
}

.test-img {
  width: 150%; 
  height: 100%; 
  object-fit: contain;
}
.img_wrap {
  text-align: right;
  flex:80%;
  background-color: #D2D4C8; 
  padding: 20px;
}
.img_wra {
  text-align: left;
  background-color:  #E0E2DB;
  padding: 20px;
}
.row{
    display: flex;
}
.side{
    background-color:  #E0E2DB;
    padding: 20px;
}

.main{
    flex:80%;
    background-color: #D2D4C8; 
    padding: 20px;
}

*{
    box-sizing: border-box;
}

.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color:#889696;;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #dedcdc;;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: rgb(255, 255, 255);;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1000px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }
